img {
  width: 100%;
}

.visual {
  max-width: 1000px;
  margin: -20rem auto 20rem auto;
  position: relative;
}
@media screen and (max-width: 767px) {
  .visual {
    margin: 0rem auto 5rem auto;
    padding: 0 1vw;
  }
}
@media screen and (max-width: 767px) {
  .visual .image {
    margin: 0 0 3rem 0;
  }
}
.visual .copy {
  position: absolute;
  right: -10rem;
  bottom: 0;
}
@media screen and (max-width: 767px) {
  .visual .copy {
    position: static;
  }
}
.visual .copy p {
  display: block;
  background: #3E3E3E;
  color: #ffffff;
  font-size: 4rem;
  padding: 0 1em;
  margin: 0 0 0.5rem 0;
}
@media screen and (max-width: 767px) {
  .visual .copy p {
    font-size: 6vw;
    text-align: center;
    background: none;
    color: #333;
    line-height: 1.2;
    margin: 0 0 2rem 0;
  }
}
.visual .prof {
  position: absolute;
  bottom: -8em;
  left: -5em;
}
@media screen and (max-width: 767px) {
  .visual .prof {
    position: static;
    text-align: center;
    line-height: 1.7;
  }
}
.visual .prof .profile {
  line-height: 1.5;
}
.visual .prof .name {
  font-weight: bold;
  font-size: 3rem;
}
@media screen and (max-width: 767px) {
  .visual .prof .name {
    font-size: 2rem;
  }
}
@media (max-width: 1300px) {
  .visual {
    /* Styles to apply when screen width is 1300px or less */
  }
  .visual .copy {
    right: 0;
  }
  .visual .prof {
    left: 0;
  }
}

#qa {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 767px) {
  #qa {
    display: block;
  }
}
#qa .bgb01 {
  position: absolute;
  top: 200px;
  right: 0;
  z-index: 0;
  width: 800px;
}
#qa .inner {
  max-width: 100%;
  padding: 0;
}
#qa .left {
  width: 80%;
}
@media screen and (max-width: 767px) {
  #qa .left {
    width: 100%;
  }
}
#qa .right {
  width: 20%;
  border-left: 1px solid #A0A0A0;
  padding: 300px 0 0 0;
}
@media screen and (max-width: 767px) {
  #qa .right {
    width: 100%;
    padding: 0;
    display: none;
  }
}

section.jobrotation {
  padding: 0 0 10rem 0;
  border-bottom: 1px solid #A0A0A0;
}
section.jobrotation .lead {
  display: flex;
  justify-content: space-between;
  margin: 0 0 5rem 0;
}
@media screen and (max-width: 767px) {
  section.jobrotation .lead {
    display: block;
    margin: 0 0 2rem 0;
  }
}
section.jobrotation .lead .titles {
  width: 35%;
  font-size: 7rem;
  line-height: 1;
  font-weight: 300;
}
@media screen and (max-width: 767px) {
  section.jobrotation .lead .titles {
    width: 100%;
    font-size: 2.4rem;
    margin: 0 0 1rem 0;
  }
  section.jobrotation .lead .titles br {
    display: none;
  }
}
section.jobrotation .lead .txts {
  flex: 1;
}
@media screen and (max-width: 767px) {
  section.jobrotation .lead .txts {
    margin: 0 0 2rem 0;
  }
}

.interview {
  position: relative;
  padding: 0 0 20rem 0;
}
@media screen and (max-width: 767px) {
  .interview {
    padding: 0 0 10rem 0;
  }
}
.interview .border {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  background: #A0A0A0;
  top: 300px;
  left: 0;
  z-index: 0;
}
.interview .image {
  width: 60%;
}
.interview .int01_titles {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
  position: relative;
  z-index: 1;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .interview .int01_titles {
    display: block;
    padding: 0;
  }
}
.interview .int01_titles.rv {
  flex-direction: row-reverse;
}
.interview .int01_titles .image {
  margin: -10rem 0 0 0;
}
@media screen and (max-width: 767px) {
  .interview .int01_titles .image {
    margin: auto;
    width: 80%;
  }
}
.interview .int01_titles .image.img02 {
  margin: 0;
  position: relative;
  z-index: 0;
  width: 70%;
}
@media screen and (max-width: 767px) {
  .interview .int01_titles .image.img02 {
    width: 100%;
  }
}
.interview .int01_titles .copy {
  font-size: 3.8rem;
  width: 30%;
  padding: 0 0 0 5vw;
}
@media screen and (max-width: 767px) {
  .interview .int01_titles .copy {
    font-size: 2.4rem;
    padding: 0;
    width: 100%;
    text-align: center;
    margin: 3rem 0;
  }
}
.interview .int01_titles .copy.dif {
  color: #333;
  position: absolute;
  top: 20%;
  left: 0vw;
  width: 100%;
  z-index: 5;
}
@media screen and (max-width: 767px) {
  .interview .int01_titles .copy.dif {
    position: static;
  }
}
.interview .int_txt {
  max-width: 800px;
  padding: 0 3vw;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .interview .int_txt {
    padding: 0 8vw;
  }
}

#last_block {
  min-height: 900px;
  position: relative;
  z-index: 10;
}
#last_block.int01 {
  background: url("../image/career/kn/last.jpg") no-repeat 0 0;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  #last_block.int01 {
    background: none;
  }
}
#last_block.int02 {
  background: url("../image/career/kh/last.jpg") no-repeat 0 0;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  #last_block.int02 {
    background: none;
  }
}
#last_block.int03 {
  background: url("../image/career/cn/last.jpg") no-repeat 0 0;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  #last_block.int03 {
    background: none;
  }
}
#last_block.int04 {
  background: url("../image/career/dn/last.jpg") no-repeat 0 0;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  #last_block.int04 {
    background: none;
  }
}
#last_block .titles {
  border-bottom: 1px solid #A0A0A0;
  text-align: right;
}
#last_block .titles p.en {
  margin: 0 30vw 0 auto;
  display: block;
  color: #fff;
  mix-blend-mode: exclusion;
  font-size: 4rem;
  font-weight: 300;
}
@media screen and (max-width: 767px) {
  #last_block .titles p.en {
    text-align: center;
    margin: auto;
    font-size: 2.4rem;
    padding: 1rem 0;
    color: #333;
  }
}
#last_block .txts {
  width: 400px;
  background: transparent linear-gradient(180deg, #FFE5E8 0%, #CBE5F0 100%) 0% 0% no-repeat padding-box;
  padding: 10rem 5rem 5rem 5rem;
  margin: 0 0 0 3vw;
}
@media screen and (max-width: 767px) {
  #last_block .txts {
    width: 100%;
    margin: auto;
    margin: 0;
  }
}
#last_block .txts h3 {
  font-size: 3rem;
  line-height: 1.5;
  margin: 0 0 3rem 0;
}
@media screen and (max-width: 767px) {
  #last_block .txts h3 {
    font-size: 2.4rem;
  }
}